*{
  margin:0;
  padding:0;
}
@font-face{
  font-family:barlowthin;
  src:url(./Barlow-Thin.ttf)
}
@font-face{
  font-family:beezee;
  src:url(./ABeeZee-Regular.ttf)
}

body{
  background-color:rgb(247, 200, 200);
  width:100%;
  height:auto;
}

.carousel-item .img-fluid {
  width:100%;
}
.carousel-caption h1{
  font-family:barlowthin;
}
.carousel-caption h3 {
  font-family:barlowthin;
}
.column {
  float:left;
  width:55.5%;
  padding:10px;
}
.row::after {
  content:"";
  clear:both;
  display:table;
}
@media screen and (min-width:300px) {
  .column {
    width:100%;
  }
  .w-30 {
    width:70%;
  }
  
}
@media screen and (min-width:600px) {
  .column {
    width:100%;
  }
  .w-30 {
    width:100%;
  }
}
@media screen and (min-width:1000px) {
  .column {
    width:100%;
  }
  .line {
    border:1px solid rgb(218, 216, 216);
    width:80%;
    margin-left:120px;
  }
}
.work {
  font-family: barlowthin;
  font-weight: 900;
}
.footer{
  font-family: barlowthin;
  font-weight: 200;
  color:black;
}
.list-inline-item i{
  font-size:25px;
  padding:4px;
  color: black;
}
.footer {
  background-color:rgb(241, 238, 238);
  
}
